@import'../../scss/main.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300;1,500&display=swap');

.all {
    width: 100%;
    height: 100vh;
    background-image: url(../../../public/4884273.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

    .container {
        max-width: 1440px;
        height: 100%;
        margin: 0 auto;

        .Register {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            // border: $border;
            // background-color: red;

            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 50px;
                width: 600px;
                height: 650px;
                place-content: center;
                color: white;
                text-shadow: 0 1px 0 #000;

                input {
                    border-radius: 6px;
                    padding: 20px 20px;
                    width: 300px;
                    height: 50px;
                    outline: none;
                    color: #112;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 15px;

                }

                .navlink {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 300px;
                }

                button {
                    width: 300px;
                    height: 50px;
                    background-color: blue;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 20px;
                    color: white;
                    border: none;

                    .active {
                        color: white;
                    }

                    cursor: pointer;
                }

                h2 {
                    font-size: 40px;
                    // background-color: #000;
                    font-family: 'Montserrat', sans-serif;
                }

                --border-angle: 0turn; // For animation.
                --main-bg: conic-gradient(from var(--border-angle),
                    #213,
                    #112 5%,
                    #112 60%,
                    #213 95%);

                border: solid 5px transparent;
                border-radius: 2em;
                --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, rgb(0, 30, 255), rgb(6, 240, 18), rgb(255, 0, 0) 99%, transparent);

                background: // padding-box clip this background in to the overall element except the border.
                var(--main-bg) padding-box,
                // border-box extends this background to the border space
                var(--gradient-border) border-box,
                // Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background.
                var(--main-bg) border-box;

                background-position: center center;

                animation: bg-spin 3s linear infinite;


            }
        }
    }
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}



@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}

@media only screen and (max-width:1280px) {
    .all {
        width: 100%;
        height: 100vh;
        background-image: url(../../../public/4884273.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 100vh;

    }
}